.pay-section {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100vh;
  width: 100vw;
  margin-top: 15rem;
  /* background-color: #f8f9fa; */
  padding: 4%;
  gap: 10%;
}

.iphone {
  padding: 1em;
  position: relative;
  /* max-width: 320px; */
  height: 45rem;
  overflow: hidden;
}
.iphone .iphone-img-wrap:before {
  content: '';
  background-image: linear-gradient(
    to top,
    rgba(247, 247, 247, 255),
    rgba(247, 247, 247, 0)
  );
  position: absolute;
  height: 20rem;
  right: 0;
  bottom: 0;
  left: 0;
}
.iphone .iphone-img-wrap:after {
  content: '';
  display: block;
  height: 9999px;
}

.iphone-img-wrap img {
  width: 50rem;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}

@media (max-width: 768px) {
  .pay-section {
    flex-direction: column-reverse;
    justify-content: center;
    width: auto;
  }

  .iphone {
    max-width: 320px;
  }
}
